<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bucket List App</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/main_app/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../static/main_app/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/main_app/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../static/main_app/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        <div class="row">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                        <a class="navbar-brand" href="index.html">Bucket List App</a>
                    </div>
                    <!-- /.navbar-header -->

                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                                </li>

                                <li class="divider"></li>
                                <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                                </li>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                        <!-- /.dropdown -->
                    </ul>
                    <!-- /.navbar-top-links -->
</div>
        <div class="row">
            <div class="col-md-2">
                <!--Navigation Div-->
                <!-- Navigation -->
                
                    <div class="navbar-default sidebar" role="navigation">
                        <div class="sidebar-nav navbar-collapse">
                            <ul class="nav" id="side-menu">
                                <li class="sidebar-search">
                                    <div class="input-group custom-search-form">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                                    </div>
                                    <!-- /input-group -->
                                </li>
                                <li>
                                    <a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a>
                                </li>

                                <li>
                                    <a href="#"><i class="fa fa-user"></i> Profile</a>
                                </li>
                                <li>
                                    <a href="/logout"><i class="fa fa-lock"></i> Logout</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.sidebar-collapse -->
                    </div>
                    <!-- /.navbar-static-side -->
                </nav>
                <!--.naviagation-->

            </div>
            <!--Div for the nagivation-->

            <div class="col-md-12">
                <!--Div for the main content-->
                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="page-header">Bucket List Items <button style="margin-left: 100px;" type="button" id="add_item" class="btn btn-primary"> <i class="fa fa-edit"></i> Add</button></h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>

                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-12">

                            <!-- /.panel -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-clock-o fa-fw"></i> Listings
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <!--Form for the creating bucket list items-->
                                            <!-- The login modal. Don't display it initially -->
                                            <form id="loginForm" method="post" class="form-horizontal" style="display: none;">
                                                <div class="form-group">
                                                    <label class="col-xs-3 control-label">Username</label>
                                                    <div class="col-xs-5">
                                                        <input type="text" class="form-control" name="username" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-xs-3 control-label">Password</label>
                                                    <div class="col-xs-5">
                                                        <input type="password" class="form-control" name="password" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-xs-5 col-xs-offset-3">
                                                        <button type="submit" class="btn btn-default">Login</button>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Name</th>
                                                            <th>Description</th>
                                                            <th colspan="2">Action</th>
                                                            <!--<th>Amount</th>-->
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {%for item in items%}
                                                            <tr>
                                                                <td>{{item['id']}}</td>
                                                                <td>{{item['name']}}</td>
                                                                <td>{{item['description']}}</td>
                                                                <td><button type="button" onclick="edit_item({{item['id']}}, '{{item["name"]}}','{{item["description"]}}')" class="btn btn-primary">Edit</button></td>
                                                                <td><button type="button" onclick="delete_item({{item['id']}}, '{{item["name"]}}')" class="btn btn-danger">Delete</button></td>
                                                            </tr>
                                                        {%endfor%}
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.table-responsive -->
                                        </div>

                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.panel-body -->
                            </div>

                        </div>
                        <!-- /.col-lg-8 -->

                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /#page-wrapper -->


            </div>
            <!--End of Div for the main content-->

        </div>



    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../../static/main_app/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/main_app/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/main_app/js/bootbox.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../static/main_app/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../static/main_app/dist/js/sb-admin-2.js"></script>

    <script>
         var str = '<form id="itemForm" method="post" class="form-horizontal">';
                str += '<div class="form-group">';
                str += '<label class="col-xs-3 control-label">Item</label>';
                str += '<div class="col-xs-5">';
                str += '<input type="text" class="form-control" id="item_name" name="item_name" />';
                str += '</div>';
                str += '</div>';
                str += '<div class="form-group">';
                str += '<label class="col-xs-3 control-label">Description</label>';
                str += '<div class="col-xs-5">';
                str += '<textarea id="item_desc" class="form-control" name="item_desc" ></textarea>';
                str += '</div>';
                str += '</div>';
                
                str += '</form>';
        $(function(){
            
            $('#add_item').click(function(){                                
                bootbox.dialog({
                title: "Add item to the list!",
                message: str,
                buttons: [
                {
                    label: "Save",
                    className: "btn btn-primary pull-left",
                    callback: function() {                        
                        var item_name = $('#item_name').val();
                        var time = new Date()
                        var item_desc = $('#item_desc').val();
                        var url = window.location.pathname.split('/')
                        var bucket_id = Number(url[url.length - 1])
                        var url_path = window.location.pathname;
                        
                        $.post('/save_item', {name: item_name, desc: item_desc, time: time, bucket_id: bucket_id}, function(response){
                         // $.post('/save_item', {bucket:item_name, time: time}, function(response){
                            if (response.success){
                                window.location.reload();
                            } else {
                                bootbox.alert("Something happend please try again...!");
                            }
                        }, 'JSON');
                    }
                }],
            });
                
            });            
        });
        


        function open_items(id){
            window.location.href = '/bucket_items/' + id
        }

        function edit_item(id, title, description){               
            bootbox.dialog({
                title: "Edit",
                message: str,
                buttons: [
                {
                    label: "Save",
                    className: "btn btn-primary pull-left",
                    callback: function() {                        
                        var item_name = $('#item_name').val();
                        var time = new Date()
                        var item_desc = $('#item_desc').val();
                        var url = window.location.pathname.split('/')
                        var bucket_id = Number(url[url.length - 1])
                        var url_path = window.location.pathname;
                                                          
                        $.post('/edit_item', {item_id: id,name: item_name, desc: item_desc, time: time, bucket_id: bucket_id}, function(response){
                         // $.post('/save_item', {bucket:item_name, time: time}, function(response){
                            if (response.success){
                                window.location.reload();
                            } else {
                                bootbox.alert("Something happend please try again...!");
                            }
                        }, 'JSON');
                    }
                }],
            });

            $('#item_name').val(title);
            $('#item_desc').val(description);
        }

        // Delete the bucket 
        function delete_item(id, title){
            bootbox.confirm("Are you sure you want to delete <b>" + title + "?</b>", function(result){ 
                //console.log('This was logged in the callback: ' + result); 
                if (result){
                    $.post('/delete_item', {id: id}, function(response){
                        if (response.success){
                            window.location.reload();
                        } else {
                            bootbox.alert("Something happend please try again...!");
                        }
                    }, 'JSON');
                }
            });
        }
    </script>


</body>

</html>